<div>
    <h1 class="text-4xl font-extrabold text-gray-800" >Live Cricket Score</h1>
<div class="items-stretch card-container flex-row md:flex-wrap">
  <div class="flex flex-wrap">
    <ng-container *ngIf="liveMatch && liveMatch.length > 0; else noMatches">
      <div *ngFor="let match of liveMatch; let i = index" class="m-2 w-full md:w-1/4">
        <app-match-card [match]="match"></app-match-card>
      </div>
    </ng-container>
  </div>
  
  <ng-template #noMatches>
    <div class="text-center w-full mt-4">No Live Matches</div>
  </ng-template>      
</div>
