<header class="bg-blue-600 text-white shadow-md p-4">
    <div class="container mx-auto flex justify-between items-center py-4">
        <div class="text-2xl font-bold">
            ScoreNow
        </div>
        <nav class="flex space-x-4">
            <a [routerLink]="'/home'" href="#" class="hover:hover:text-gray-200">Home</a>
            <a [routerLink]="'/live'" href="#" class="hover:text-gray-200">Live Score</a>
            <a [routerLink]="'/history'" href="#" class="hover:text-gray-200">History</a>
            <a [routerLink]="'/point-table'" href="#" class="hover:text-gray-200">Point Table</a>
        </nav>
        <div></div>
    </div>
</header>
<div class="px-28 py-8">
    <router-outlet></router-outlet>
</div>
